@use "@fontsource/nunito/scss/mixins" as Nunito;

$weights: $font-weight-light, $font-weight-normal, $font-weight-semibold, $font-weight-bold;

@include Nunito.faces(
  $weights: $weights,
  $display: fallback,
  $directory: "./plugins/nodebb-theme-community/nunito"
);