@use "@fontsource/nunito/scss/mixins" as Nunito;

$weights: $font-weight-light, $font-weight-normal, $font-weight-semibold, $font-weight-bold;

@each $weight in $weights {
	@include Nunito.fontFace(
		$weight: $weight,
		$display: fallback,
		$fontDir: "./plugins/nodebb-theme-community/nunito"
	);
}
